.main .content {
  font-family: "OpenSansRegular", "Arial", sans-serif;
  min-width: 800px;
  padding: 0;
  margin: 0 50px 150px 400px;
}
.main .content h1 {
  color: black;
  font-size: 30px;
  line-height: 1.4em;
  padding: 20px 0 10px 0;
  font-family: "OpenSansLight", "Arial", sans-serif;
}
.main .content h2 {
  color: black;
  font-size: 20px;
  padding: 20px 0 10px 0;
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
}
.main .content h3 {
  color: black;
  font-size: 16px;
  padding: 10px 0 10px 0;
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
}
.main .content caption,
.main .content th,
.main .content td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.main .content i {
  font-family: "OpenSansItalic", "Arial", sans-serif;
}
.main .content b,
.main .content strong {
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
}
.main .content q,
.main .content blockquote {
  quotes: none;
  padding-left: 20px;
  box-shadow: 3px 0 #ccc inset;
}
.main .content p {
  font-size: 16px;
  line-height: 25px;
  padding: 0 0 8px;
  color: #333333;
  text-align: justify;
}
.main .content ul {
  list-style: disc outside;
  line-height: 30px;
  margin-left: 25px;
  padding-bottom: 10px;
}
.main .content .note {
  box-shadow: 3px 0 #58a6eb inset;
  padding: 0 0 0 13px;
  margin: 0 0 12px;
}
.main .content .caution {
  box-shadow: 3px 0 #fa3114 inset;
  padding: 2px 0 0 13px;
  margin: 0 0 15px;
}
.main .content em {
  color: #cf4f0f;
}
.main .content a {
  color: #0055cc;
}
.main .content a:visited {
  color: #0055cc;
}
.main .content a img {
  border: none;
}
.main .content article,
.main .content aside,
.main .content details,
.main .content figcaption,
.main .content figure,
.main .content footer,
.main .content header,
.main .content hgroup,
.main .content menu,
.main .content nav,
.main .content section,
.main .content summary {
  display: block;
}
code {
  font-family: "DroidSansMonoregular", "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  color: #cf4f0f;
  font-size: 14px
} 
pre code {
  font-family: "DroidSansMonoregular", "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  color: black;
  background-color: #f2f8fd;
  margin: 4px 0 17px;
  padding: 12px 18px 12px 18px;
  line-height: 25px;
  display: block;
  overflow: auto;
  max-width: 100%;
}
.fixed-width {
  font-family: "DroidSansMonoregular", "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 14px;
}
/*header*/
.main #header {
  background-color: #f8f8f8;
  box-shadow: 0 -1px #f1f1f1 inset;
  padding: 13px 0 19px 50px;
  height: 23px;
  min-width: 775px;
}
.main #header #logo {
  font-size: 22px;
  text-decoration: none;
  color: #333333;
}
.main #header #logo .logo-img {
  display: block;
  float: left;
  margin-top: -2px;
}
.main #header #logo .logo-title {
  display: inline-block;
  font-family: "OpenSansLight", "Arial", sans-serif;
  padding: 4px 0 0 11px;
}
/* syntax highlight */
.main .content .synth-purple {
  color: #9d36c3;
}
.main .content .synth-blue{
  color: #2273b2;
}
.main .content .synth-green {
  color: #349734;
}
.main .content .synth-red {
  color: #cf4f0f;
}
/* tables */
.main .content table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main .content table thead tr th, .main .content table tbody tr td {
  border: 1px solid #f2f2f2;
}
.main .content table thead tr th {
  padding: 15px 15px 15px 12px;
  font-size: 12px;
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #a7a7a7;
}
.main .content table tbody tr td {
  padding: 10px 12px 12px;
  font-size: 14px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  line-height: 25px;
  vertical-align: top;
}
.main .content table.fullwidth {
  width: 100%;
  margin: 4px 0 8px 0;
}
.main .content .data-type {
  font-family: "OpenSansItalic", "Arial", sans-serif;
  color: #777777;
  display: block;
}
.main .content .notes {
  color: #1b923f;
  border-bottom: 1px dotted;
}
/*execute script*/
.main .content .execute-btn input.submit {
  border: none;
  min-width: 250px;
  display: block;
  padding: 12px 18px;
  text-transform: uppercase;
  font: 14px "OpenSansSemiBold", "Arial", sans-serif;
  color: white;
  background-color: #6EAF6C;
  margin: 10px 0 30px 0;
  float:left;
}
.main .content .execute-btn input.submit:hover {
  background-color: #97C596;
}
.main .content input { 
  min-width: 400px;
  border: 1px solid #E2E2E2;
  padding: 7px 8px 8px;
  margin-top: 8px;
  background-color: #F5F5F5;
  font: 14px "DroidSansMonoregular", "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
.main .content input.invalid, .main .content .CodeMirror.invalid {
  border: 1px solid red;
}
.main .content textarea { 
  min-width: 400px;
  height: 64px;
  border: 1px solid #E2E2E2;
  padding: 7px 8px 8px;
  margin-top: 8px;
  background-color: #F5F5F5;
  font: 14px "DroidSansMonoregular", "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
.main .content textarea.invalid {
  border: 1px solid red;
}
/*login section*/
.main #auth-container {
  margin-left: 25px;
}
.main #auth-container .authorize-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 8px 9px 8px;
  font-size: 14px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  color: white;
  background-color: #49a565;
}
.main #auth-container .authorize-btn:hover {
  background-color: #64b77d;
}
/*navigation menu*/
.main #navbar {
  font-size: 18px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  margin: 16px 0 0 50px;
  width: 340px;
  float: left;
}
.main #navbar.menu ul {
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
  list-style: none;
  display: none;
}
.main #navbar li ul {
  padding-left: 0px;
}
.main #navbar li ul li ul {
  padding-left: 30px;
}
.main #navbar li ul li a{
  margin-top: 0;
  font: 16px "OpenSansRegular", "Arial", sans-serif;
}
.main #navbar li {
  position: relative;
}
.main #navbar li a {
  color: black;
  text-decoration: none;
  margin-top: 14px;
  padding-bottom: 14px;
  display: block;
}
.main #navbar li a:hover {
  text-decoration: underline;
}
.main #navbar .selected {
  color: #cf4f0f;
}
.main .method-get {
  color: #0f6ab4;
}
.main .method-post {
  color: #10a54a;
}
.main .method-patch {
  color: #e17b30;
}
.main .method-delete {
  color: #c7252A;
}
.main #navbar .method {
  font: 14px "OpenSansSemiBold", "Arial", sans-serif;
  float: left;
  width: 57px;
}
.main #navbar .expand-img {
  position: absolute;
  top: 1px;
  left: -15px;
}
.main #navbar li ul .expand-img {
  top: 3px;
  position: relative;
  left: 0;
  margin-right: 6px;
}
/* syntax highlighting */
.hljs .hljs-symbol {
  color: #2273b2;
}
.hljs .hljs-string {
  color: #cf4f0f;
}
.hljs .hljs-literal {
  color: #349734;
}
.hljs .hljs-attr {
  color: #2273b2;
}
.hljs .hljs-number {
  color: #9d36c3;
}
/* auth */
#auth-window {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(209, 224, 236, 0.5);
  z-index: 10;
}
#creds-window {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 570px;
  height: 327px;
  background-color: white;
  padding: 25px 40px 45px 40px;
  box-shadow: 0 1px 2px rgba(54, 105, 148, 0.2);
  border-radius: 3px;
}
#creds-window #close-button {
  position: absolute;
  top: 0;
  right: 0;
}
#creds-window h2 {
  font: 20px "OpenSansRegular", "Arial", sans-serif;
}
#creds-window #close-button a {
  display: block;
}
#creds-window #close-button img {
  margin: 20px;
}
#creds-window .auth-label {
  color: #797979;
  font: 14px "OpenSansSemiBold", "Arial", sans-serif;
  text-transform: uppercase;
  float: left;
  margin-top: 19px;
  width: 100px;
}
#creds-window .auth-input {
  height: 21px;
  width: 450px;
  border: 1px solid #e2e2e2;
  padding: 7px 8px 8px;
  margin-top: 8px;
  background-color: #f5f5f5;
  font: 14px "OpenSansRegular", "Arial", sans-serif;
}
#creds-window #button-container {
  width: 100%;
}
#creds-window .auth-button {
  margin-top: 35px;
  margin-right: 2%; /* ~12 px */
  height: 36px;
  background-color: #a1bfd8;
  color: white;
  font: 14px "OpenSansSemiBold", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
#creds-window .auth-button:hover {
  background-color: #a1bfd8;
}
#creds-window #button-container > :last-child {
  margin-right: 0;
}
#creds-window .disabled {
  background-color: #bdbdbd;
}
#creds-window .disabled:hover {
  background-color: #bdbdbd;
}
.clear {
    clear: both;
}